@media only screen and (min-width: 940px){
    .wrapper{
        min-width: 1360px;
    }
}
@media only screen and (max-width: 480px) {
    .wrapper{
        min-width: 320px;
    }
    .banner-box{
        display: none;
    }
    .header-box__logo-jamble{
        display: none;
    }
    .header-box__nav {
        display: none;
    }
    .header-box__nav{
        flex-wrap: wrap;
    }
    .header-box__logo-jambler{
        display: none;
    }
    .header-box:before{
        display: none;
    }
    .header-down__image img{
        display: none;
    }
    .header-down__text{
        min-width: 320px;
        padding: 0 22px;
    }
    .header__text{
        width: 290px;
        font-size: 18px;
        line-height: 30px;
    }
    .popup__block{
        width: 100%;
    }
    .header-down{
        margin-bottom: 0;
    }
    .header-down{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    background-color: #f0f0f0; 
    margin-bottom: 80px;
    padding: 0;
   }
    .promotion__image{
        display: none;
    }
    #promotion{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
    }
    .promotion__nav{
        margin-top: 150px;
    }
    .promotion__nav-item{
      font-size: 18px;
    line-height: 30px;
        min-width: 280px;
    }
    .promotion__nav ul{
        padding: 0;
    }
    #social{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 40px 22px 40px;
    }
    .social__text{
        width: 100%;
        order: 1;
        margin: 0;
        font-size: 18px;
        line-height: 30px;
        min-width: 280px;
    }
    .social__box{
        order: 2;
    }
    .social__google-users,.social__facebook-users,
    .social__vk-users{
        display: none;
    }
    .section-table__text{
        font-size: 18px;
        line-height: 30px;
        min-width: 280px;
    }
    #section-table{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    margin: 0 22px;
    }
    .swiper-button-prev{
        display: block;
        background: url(../images/prevButton.png) no-repeat 0 0;
        width: 9px;
        height: 16px;
        top: 99%;
    }
     .swiper-button-next{
         display: block;
        background: url(../images/nextButton.png) no-repeat 0 0;
        width: 9px;
        height: 16px;
         top: 99%;
    }
    .swiper-pagination-bullet-active{
        background: #000;
    }
    .swiper-slide img{
        width: 50%;
    }
    .swiper-container__text{
        margin: 40px 0 45px 22px;
    }
    .swiper-container{
        height: 440px;
    }
    .block-text-one{
        left: 55%;
    }
    .block-text-two{
        left: 46%;
        width: 150px;
        height: 80px;
    }
    .block-text-three{
        left: 40%;
        top: 0;
    }
    .block-text-three:after{
        bottom: -6px;
        left: -6px;
    }
    .block-text-four{
        left: 42%;
        padding: 5px 5px;
    }
    .block-text-five{
        width: 140px;
        top: 5px;
        left: 150px;
    }
    .block-text-five{
        margin-top: 50px;
    }
    .swiper__image-six{
        margin-top: 55px;
    }
    .block-text-seven{
        width: 130px;
        height: 90px;
        padding: 5px;
        left: 5%;
        top: -10%;
    }
    .block-text-six{
        width: 150px;
        height: 80px;
        top: 10%;
        left: 47%;
    }
    .swiper-slide__text{
       font-size: 18px;
        line-height: 30px;
        min-width: 280px; 
    }
    .section-table__chart{
        width: 280px;
    }
    .line__title h4{
        width: 270px;
    }
    .line__content:nth-child(n+3){
        display: none;
    }
    .line__content:after{
        content: "";
        background-image: url(../images/arrow.png);
        position: absolute;
        width: 9px;
        height: 16px;
        top: 0;
        left: 284px;
    }
    #registration{
        flex-wrap: wrap;
        padding: 80px 22px;
    }
    .registration__text,.registration__account-text,.registration__text{
       font-size: 18px;
       line-height: 30px;
       min-width: 289px;   
    }
    #section-table{
        margin-bottom: 80px;
    }
    .table__link{ 
        display: none;
    }
    .forms{
       min-width: 320px;
    }
    #nickname,#email,#password{
        width: 276px;
    }
    .registration__account{
        padding-left: 22px;
    }
    #footer{
        padding: 5px 5px;
        flex-direction: column;
    }
    .footer__help{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .footer__link{
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .footer__link li{
        display: inline;
    }
    .footer__promotion, 
    .footer__logo-bottom{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .footer__logo{
        margin: 0;
        margin-bottom: 20px;
    }
    .footer__copyright{
         width: 107px;
    }
    .footer__grey{
        width: 70px;
    }
    .footer__icons{
        display: none;
    }
}