.header-box{
  padding: 78px 80px 0px;
  @include flex;
  justify-content: space-between;
  position: relative;
}
#header{
  position: relative;
  max-height: 640px;
  background-color: $color-grey;
}

.header-box__nav{
  @include flex;
  justify-content: space-between;
  margin-top: 9px;
  padding: 0;
  font-family: $font-regular;
  font-size: 14px;
  flex-grow: 0;
  position: relative;
}
.header-box:before{
  content: "";
  background-image: url(../images/whistle.png);
  position: absolute;
  top: -5%;
  left: 42%;
  width: 44px;
  height: 247px;
}
.header-nav__item{
  list-style-type: none;
  display: inline-flex;
  a{
    text-decoration: none;
    color: $color-black;
    padding-right: 40px;
  }
}
#name{
  background-color: $color-yellow;
  border-radius: 5px;
  padding: 6px 27px;
  text-align: center;
  border: none;
  margin-top: -5px;
}
.btn-submit{
  background-color: $color-green;
  color: $color-white;
  margin-left: 20px;
  border: none;
  border-radius: 5px;
  padding: 6px 17px;
  margin-top: -5px;
}
.header-down{
  @mixin flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 78px 80px 80px;
}
.header-down__image{
  width: 40%;
  position: absolute;
  left: 47%;
  bottom: 0;
  transform: translateX(-63%);
  max-width: 556px;
}
.header-down__image{
  display: inline-block;
}
.popup__block{
  text-align: center;
  cursor: pointer;
  h3{
    font-size: 14px;
    font-family: $font-bold;
    text-transform: uppercase;
    line-height: 39px;
  }
}
.select{
  font-family: $font-bold;
}
.popup__video{
  position: relative;
  &:after{
    content: "";
    background-image: url(../images/video_button.png);
    position: absolute;
    left: 40%;
    top: 40%;
    width: 50px;
    height: 30px;
    opacity: .6;
    transition: .8s ease-out;
  }
}
.popup__video:hover:after{
  opacity: 1;
  transform: scale(1.4, 1.4);
}
.header-down__text{
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 110px;
  flex: 0 0 395px;
}
.header__text{
  max-width: 400px;
}
.header__text, .promotion__nav-item,.section-table__text,
.swiper-slide__text,
.swiper-container__text,
.registration__text,
.registration__account-text{
 @include text;
}
.header__text:before,
.carousel__text:before,
.social__text:before,
.section-table__text:before,
.swiper-slide__text:before,
.swiper-container__text:before{
  @include line_text;
}
.btn{
  font-size: 18px;
  font-family: $font-regular;
  background-color: $color-green;
  color: $color-white;
  border: none;
  border-radius: 5px;
  padding: 14px 50px;
}
.video{
  margin-top: 145px;
  h3{
    margin: 0 0 25px;
  }
}
