/* colors */
$color-yellow: #f7cb00;
$color-green: #2c715b;
$color-grey: #f0f0f0;
$color-darkgrey:#0d221b;
$color-facebook: #3a5795;
$color-google: #d34836;
$color-vk: #5c82ab;
$color-tablefont: #999;
$color-tablered: #c34c4c;
$color-footerlink: #007259;
$color-black: #000;
$color-white: #fff;
$color-footer: #a8a8a8;

/* fonts */
$font-light : 'Roboto-Light', sans-serif;
$font-regular : 'Roboto-Regular', sans-serif;
$font-bold : 'Roboto-Bold', sans-serif;